* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2p', sans-serif;
}
html {
    width: 100%;
    height: auto;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: url('https://i.pinimg.com/736x/61/ee/1d/61ee1deec714fe1a541364304ddd8d18.jpg') no-repeat center center / cover;
}

a {
    text-decoration: none;
    color: #fff;
}
ul, li {
    list-style: none;
}


/* ===== Container ===== */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}


/* ===== Header ===== */
.container .header {
    width: 100%;
    height: 8vh;
    /* background: linear-gradient(90deg, #8c52ff, #00bf63); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid #fffa;
}

.container .header .logo {
    background: linear-gradient(90deg, #24FE41, #fdbb2d, #cc2b5e);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-size: 13px;
    cursor: default;
}

/* ===== Main Body ===== */
.main {
    width: 100%;
    height: 77vh;
    position: relative;
    color: #fff;
    align-content: center;
    justify-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

/* ===== Greet User ===== */
.main .greet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 55px;
    text-align: center;
    border: 2px solid #000;
    font-size: 16px;
    margin: 20px auto;
    color: #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
}
.main .greet .greetTxt {
    width: 340px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    align-content: center;
    background-color: #000;
    border-radius: 8px;
    z-index: 2;
}

.main .greet .effect {
    position: absolute;
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(90deg, #f00, #0f0, #00f, #ff0, #0ff, #f0f);
    z-index: 1;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotateZ(0deg);
    }
    /* 50% {
        transform: rotateZ(0deg);
    } */
    100% {
        transform: rotateZ(360deg);
    }
    
}

/* ===== Message Box ===== */

.welcomeMsg {
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: #fff;
    border: 2px solid #fff5;
    border-radius: 15px;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    backdrop-filter: blur(10px);
}

.welcomeMsg .msbBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.welcomeMsg .msbBox .msg {
    width: 50%;
    background: linear-gradient(90deg, #8c52ff, #00bf63);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.welcomeMsg .msbBox .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcomeMsg .msbBox img {
    width: 160px;
    height: 150px;
    display: block;
}

.welcomeMsg .msbBox .base {
    width: 90%;
    height: 210px;
    border-radius: 10px;
    z-index: 1;
}

.welcomeMsg .msbBox img.jump {
    width: 50%;
    height: 45%;
    margin: 0 auto 40px;
    position: absolute;
    filter: drop-shadow(0 0 25px #0af);
    border-radius: 50%;
    animation: upDown 3s  linear infinite;
    z-index: 3;
}

@keyframes upDown {
    0% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(25px);
    }
}

.welcomeMsg .gotoSer {
    display: block;
    width: 190px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    border: 2px solid #7b00ff;
    background-color: #7b00ff;
    margin: 25px auto 0;
    font-weight: bold;
    font-size: 10px;
    transition: background 0.2s ease-out;
}
.welcomeMsg .gotoSer:hover {
    background-color: transparent;
}


/* ===== Menu Bar ===== */
.menuBar {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fff8;
    margin: 1vh auto;
    border-radius: 33px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    /* position: relative;
    bottom: 5px; */
    z-index: 5;
}

.menuBar .menuItems {
    width: 60px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.menuBar .menuItems:nth-child(1),
.menuBar .menuItems.leftSubMenu {
    margin: 0 50px 0 0;
}

.menuBar .menuItems .menuLink {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.menuBar .menuItems .svg {
    transform: translateY(15px);
    transition: transform 0.3s ease-out;
}
.menuBar .menuItems .label {
    font-size: 10px;
    transform: translateY(50px);
    transition: transform 0.3s ease-out;
}

.menuBar .menuItems .menuLink:hover .svg {
    transform: translateY(3px) scale(1.1);
}

.menuBar .menuItems .menuLink:hover .label {
    transform: translateY(10px);
}

/* ===== Plus ===== */
.menuBar .plus {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border: none;
    border-radius: 50%;
    background-color: #0af5;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.menuBar .plusBtn {
    position: fixed;
    width: 80px;
    height: 80px;
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}

.menuBar .plusBtn .rotate {
    transition: transform 0.3s ease-out;
    border-radius: 50%;
}
.menuBar .plusBtn:hover .rotate,
.menuBar .plus:hover .rotate,
.menuBar:has(.subMenu:hover) .rotate {
    transform: rotateZ(90deg);
}


.menuBar .plus:has(.plusBtn:hover),
.menuBar .plus:hover,
.menuBar:has(.subMenu:hover) .plus {
    width: 97%;
    border-radius: 28px;
}
.menuBar:has(.menuItems.plus:hover) .menuItems:not(.menuItems.plus),
.menuBar:has(.subMenu:hover) .menuItems:not(.menuItems.plus) {
    transform: translateY(95px);
}

/* ===== SubMenu ===== */

.menuBar .subMenu {
    position: absolute;
    width: 75px;
    height: 65px;
    z-index: 1;
}

.menuBar .leftSubMenu {
    left: 30px;
    bottom: 100px;
}
.menuBar .rightSubMenu {
    right: 30px;
    bottom: 100px;
}

.menuBar .subMenu .menuLink {
    width: 65px;
    height: 65px;
}

.menuBar:has(.menuItems.plus:hover) .subMenu {
    bottom: 100px;
}



/* ===== Items ===== */
.main .itemsLists {
    width: 350px;
    height: auto;
    border: 5px solid #00f;
}

.main .itemsLists .item {
    width: 100%;
    height: auto;
    margin: 20px 0;
    background-color: #0af5;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    
}

.main .itemsLists .item .showItems img {
    width: 60px;
    height: 55px;
    border-radius: 5px;
    margin: 0 30px 0 15px;
}

.main .itemsLists .item .showItems {
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 20px;
    text-align: left;
    border: none;
    outline: none;
    color: #fff;
}

.main .itemsLists .item .showItems:hover {
    background-color: #0af3;
}


.main .itemsLists .item .showItems:hover ~ .gameItems{
    height: 240px;
    border-top: 1px solid #fff8;
}

.main .itemsLists .item .showItems:hover ~ .gameItems.mlbb{
    height: 480px;
    border-top: 1px solid #fff8;
}

.gameItems {
    width: 100%;
    height: 0;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    overflow: hidden;
    padding: 0 10px;
    transition: all 0.3s ease-in;
}
.gameItems img {
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

.pricesBox {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}

.pricesBox .count {
    width: 100%;
    padding: 10px 3px;
    background: linear-gradient(45deg, #f00, #fa0, #0f0a);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.pricesBox .MMKPrices {
    height: 35px;
    line-height: 13px;
    align-content: center;
    padding: 5px 0;
    margin: 5px 0 0;
    background-color: #000;

}



