* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    width: 100%;
    height: 100vh;
    background: url('https://i.pinimg.com/736x/61/ee/1d/61ee1deec714fe1a541364304ddd8d18.jpg') no-repeat center center / cover;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}
ol, ul, ol {
    list-style: none;
}

/* ----- Container ----- */

.container {
    width: 100%;
    height: 100vh;
}

.container .logo {
    width: 100%;
    height: 7vh;
    background: linear-gradient(90deg, #8c52ff, #00bf63);
    text-align: center;
    align-content: center;
    color: #fff;
    font-size: 16px;
}

/* ----- Main Body ----- */
.main {
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .menuBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 75px;
    border-radius: 15px;
    border: 2px solid #fff3;
    backdrop-filter: blur(8px);
    position: fixed;
    bottom: 6vh;
    overflow: hidden;
}

.main .menuBar .menuItems {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out;
}

.main .menuBar .menuItems.leftItem {
    margin: 0 50px 0 0;
}

.main .menuBar .menuItems .menuLink {
    display: block;
    align-content: center;
    width: 100%;
    height: 100%;
}

.main .menuBar .menuItems .svg {
    transform: translateY(10px);
    transition: transform 0.3s ease-out;
}

.main .menuBar .menuItems .label {
    transform: translateY(40px);
    transition: transform 0.3s ease-out;
}

/* ----- Hover Effect ----- */
.main .menuBar .menuItems .menuLink:hover .svg {
    transform: translateY(0);
    transform: scale(1.2);
}

.main .menuBar .menuItems .menuLink:hover .label {
    transform: translateY(0);
}

/* ----- Plus ----- */
.main .menuBar .menuItems.plus {
    width: 65px;
    height: 65px;
    border: 2px solid #0af;
    box-shadow: 0 0 15px #0af;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    background-color: #0af5;
}
.main .menuBar .menuItems.plus button {
    background: none;
    border: none;
    outline: none;
}
.main .menuBar .menuItems.plus .menuLink {
    width: 60px;
    height: 60px;
}

.main .menuBar .menuItems.plus .subMenu {
    width: 60px;
    height: 60px;
    position: fixed;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.main .menuBar .menuItems.plus .subMenu.subMenuLeft {
    left: 50px;
    transform: translateX(-100px);

}
.main .menuBar .menuItems.plus .subMenu.subMenuRight {
    right: 50px;
    transform: translateX(100px);
}

.main .menuBar .menuItems.plus:hover .subMenu {
    opacity: 1;
    transform: translateX(0);
}


.main .menuBar .menuItems.plus .rotate {
    transition: transform 0.3s ease-out;
}

.main .menuBar .menuItems.plus:hover .rotate{
    transform: rotate(90deg);
}
.main .menuBar .menuItems.plus:hover {
    width: 99%;
    border-radius: 10px;
}


.menuBar:has(.plus:hover) .leftItem {
    position: absolute;
    left: 80px;
    transform: translateX(-150px);
}

.menuBar:has(.plus:hover) .rightItem {
    position: absolute;
    right: 80px;
    transform: translateX(150px);
}


/* ----- Welcome Message ----- */

.welcomeMsg {
    width: 50%;
    height: 20vh;
    justify-items: center;
    border: 2px solid #fff;
    padding: 15px 25px;
    background-color: #fffa;
    border-radius: 30px 5px;
    line-height: 1.5em;
    margin: 0 auto;
}
.msg {
    width: 150px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(45deg, #3533cd, #fc3c3c, #8c52ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.moto {
    font-size: 13px;
    font-weight: bold;
    color: #575dff;
    margin: 0 0 10px;
}

.gotoSer {
    border: 2px solid #0af;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0af;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.3s ease-out;
}

.gotoSer:hover {
    background-color: transparent;
}




/* ----- Services ----- */

.servicesContainer {
    text-align: center;
    justify-items: center;
    align-content: center;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: #0005;
    border-radius: 10px;
    color: #fff;
    margin: 0 0 50px;
}

.servicesContainer .tgLogo img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.subContainer {
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #000a;
    margin: 10px 0;
}

.subContainer .mainServices {
    display: inline;
    background: linear-gradient(45deg, #f00, #ff0, #0af);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.prices {
    margin: 10px 0 0;
    line-height: 1.3em;
}

.prices.freeSer {
    font-size: 18px;

}



/* ----- Footer ----- */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff5;
    width: 100%;
    height: 4vh;
    padding: 7px 0;
    text-align: center;
    font-size: 10px;
    color: #fff;
}