* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2p', sans-serif;
}
html {
    width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: url('https://i.pinimg.com/736x/61/ee/1d/61ee1deec714fe1a541364304ddd8d18.jpg') no-repeat center center / cover;
}

a {
    text-decoration: none;
    color: #fff;
}


/* ===== Container ===== */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}


/* ===== Header ===== */
.container .header {
    width: 100%;
    height: 5vh;
    /* background: linear-gradient(90deg, #8c52ff, #00bf63); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid #fffa;
}

.container .header .logo {
    background: linear-gradient(90deg, #24FE41, #fdbb2d, #cc2b5e);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-size: 13px;
}

/* ===== Main Body ===== */
.main {
    width: 100%;
    height: 79vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Message Box ===== */

.welcomeMsg {
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: #fff;
    border: 2px solid #fff5;
    border-radius: 15px;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    backdrop-filter: blur(10px);
}

.welcomeMsg .msbBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.welcomeMsg .msbBox .msg {
    width: 50%;
    background: linear-gradient(90deg, #8c52ff, #00bf63);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
}

.welcomeMsg .msbBox .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcomeMsg .msbBox img {
    width: 160px;
    height: 150px;
    display: block;
}

.welcomeMsg .msbBox .base {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    z-index: 1;
}

.welcomeMsg .msbBox img.jump {
    width: 50%;
    height: 50%;
    margin: 0 auto 30px;
    position: absolute;
    filter: drop-shadow(0 0 30px #0af);
    border-radius: 50%;
    animation: upDown 2s  linear infinite;
    z-index: 2;
}

@keyframes upDown {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

.welcomeMsg .gotoSer {
    display: block;
    width: 160px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 20px;
    border: 2px solid #7b00ff;
    background-color: #7b00ff;
    margin: 25px auto 0;
    font-weight: bold;
    font-size: 10px;
    transition: background 0.2s ease-out;
}
.welcomeMsg .gotoSer:hover {
    background-color: transparent;
}


/* ===== Menu Bar ===== */
.menuBar {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fff8;
    margin: 1vh auto;
    border-radius: 33px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    position: relative;
    bottom: 10px;
    z-index: 5;
}

.menuBar .menuItems {
    width: 60px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.menuBar .menuItems:nth-child(1),
.menuBar .menuItems.leftSubMenu {
    margin: 0 50px 0 0;
}

.menuBar .menuItems .menuLink {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.menuBar .menuItems .svg {
    transform: translateY(15px);
    transition: transform 0.3s ease-out;
}
.menuBar .menuItems .label {
    font-size: 10px;
    transform: translateY(50px);
    transition: transform 0.3s ease-out;
}

.menuBar .menuItems .menuLink:hover .svg {
    transform: translateY(3px) scale(1.1);
}

.menuBar .menuItems .menuLink:hover .label {
    transform: translateY(10px);
}

/* ===== Plus ===== */
.menuBar .plus {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border: none;
    border-radius: 50%;
    background-color: #0af5;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.menuBar .plusBtn {
    position: fixed;
    width: 80px;
    height: 80px;
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}

.menuBar .plusBtn .rotate {
    transition: transform 0.3s ease-out;
    border-radius: 50%;
}
.menuBar .plusBtn:hover .rotate,
.menuBar .plus:hover .rotate,
.menuBar:has(.subMenu:hover) .rotate {
    transform: rotateZ(90deg);
}


.menuBar .plus:has(.plusBtn:hover),
.menuBar .plus:hover,
.menuBar:has(.subMenu:hover) .plus {
    width: 98%;
    height: 67px;
    border-radius: 28px;
}
.menuBar:has(.menuItems.plus:hover) .menuItems:not(.menuItems.plus),
.menuBar:has(.subMenu:hover) .menuItems:not(.menuItems.plus) {
    transform: translateY(95px);
}

/* ===== SubMenu ===== */

.menuBar .subMenu {
    position: absolute;
    width: 75px;
    height: 67px;
    /* border: 1px solid #ff0; */
    z-index: 1;
}

.menuBar .leftSubMenu {
    left: 60px;
    bottom: 100px;
}
.menuBar .rightSubMenu {
    right: 60px;
    bottom: 100px;
}

.menuBar .subMenu .menuLink {
    width: 65px;
    height: 65px;
}

.menuBar:has(.menuItems.plus:hover) .subMenu {
    bottom: 100px;
}


/* ===== Footer ===== */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: #000;
    text-align: center;
    align-content: center;
    color: #fff;
    font-size: 5px;
}


















